p<h3 id="side-by-side-viewer">EpicureanFriends' Tusculun Disputations - Side By Side Viewer</h3>
<p>Click on the bottom bar to pick which translations you want to see.</p>
<p>Share the url – the currently visible translations and the section are
encoded in the url.</p>
<hr>
<p>This side-by-side Epicurean Commentary Version of Cicero's "Tusculun Disputations" is a project of <a href="https://epicureanfriends.com">EpicureanFriends.com</a>!</p>
<p>This project runs on free software created by Vit Brunner., <a href="https://github.com/tasuki/side-by-side">grab the source
code</a>!</p>
